@import 'variables';
@import 'mq';
@import 'mixins';

header {
    position: relative;
    z-index: $z-bottom;
}

#banner-wrapper {
    max-height: 80vh;
    overflow: hidden;
    position: relative;
    @include mq(md) {
        max-height: 60vh;
    }
    @include mq(xl) {
        max-height: 50vh;
    }
    &>img {
        min-width: 100vw;
    }
}

.blur-cover {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: $z-lower;

    // proud of this, as obnoxious as it is
    // uses the difference between 100vw (includes scrollbar) & 100% (no scrollbar)
    // to determine if there should be padding (yes on desktops with scrollbars, no on mobiles without)
    // uses content-box so that the padding extends the element's width, keeping the image wrapper
    // aligned with the transparent overlay
    box-sizing: content-box;
    right: 0;
    padding-right: 0;
    right: calc(100% - 100vw);
    padding-right: calc(100vw - 100%);
    
    img {
        top: 0;
        filter: blur(4px);
        min-width: 100vw;
        position: absolute;
        right: 0;
    }
}
#intro {
    background-color: $white-transparent;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: $z-mid;
    h1 {
        flex: 10% 1 1;
        font-weight: 300;
        text-transform: uppercase;
    }
    h2 {
        flex: 90% 9 1;
        font-weight: 300;
        text-transform: lowercase;
        @include mq($until: sm) {
            font-size: px2rem(f(p));
        }
        @include mq(sm) {
            font-size: px2rem(f(h3));
        }
        @include mq(lg) {
            font-size: px2rem(f(h2));
        }
    }
}

#logo-wrapper {
    @function calcLeft($base-width) {
        @return (100% / 12) * ((12 - $base-width)/4);
    }
    @function calcTop($base-width) {
        $ratio: ($base-width / 12 / 3.1 / 2);
        @return calc(-100vw * #{$ratio});
    }
    margin-left: calcLeft(7);
    margin-top: -30px;
    margin-top: calcTop(7);
    position: relative;
    z-index: $z-upper;
    @include mq(sm) {
        margin-left: calcLeft(6);
        margin-top: calcTop(6);
    }
    @include mq(lg) {
        margin-left: calcLeft(5);
        margin-top: calcTop(5);
    }
}

#summary {
    left: 0;
    position: relative;
    text-align: center;
    z-index: $z-top;
    h4 {
        font-style: italic;
    }
}