# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# distribution/production directory
dist

# compiled image files (from resume-data submodule)
img

# temp. css files in development directory
dev/css

# temp. js files in development directory (all editing done in dev/es2015/)
dev/js/*
dev/es2015/resumeScripts.js
!dev/js/jquery-3.1.1.min.js

# compiled responsive image files
dev/responsive_images

# sass log files
.sass-cache
