# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# distribution/production directory
dist

# temp. css files in development directory
dev/css

# temp. js files in development directory (all editing done in dev/es2015/)


# sass log files
.sass-cache
